.Game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.Game-Background {
    width: fit-content;
    height: fit-content;
}