.Game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.Game-Background {
    width: fit-content;
    height: fit-content;
}

.Game-Thor {
    font-size: 10rem;
    color: aqua;
}
.Game-Star_Wars {
    font-size: 10rem;
    color: aqua;
}
.Game-One_Piece {
    font-size: 10rem;
    color: aqua;
}
.Game-Clash_of_Clans {
    font-size: 10rem;
    color: aqua;
}
.Game-Pokemon {
    font-size: 10rem;
    color: aqua;
}
.Game-Fairy_Tail {
    font-size: 10rem;
    color: aqua;
}
.Game-Sword_Art_Online {
    font-size: 10rem;
    color: aqua;
}
.Game-Mario_Kart {
    font-size: 10rem;
    color: aqua;
}
.Game-Black_Clover {
    font-size: 10rem;
    color: aqua;
}
.Game-Naruto {
    font-size: 10rem;
    color: aqua;
}

.Game-Iron_Man {
    font-size: 10rem;
    color: aqua;
}
.Game-Attack_On_Titan {
    font-size: 10rem;
    color: aqua;
}
.Game-Seigneur_des_anneaux {
    font-size: 10rem;
    color: aqua;
}
.Game-The_Legend_of_Zelda {
    font-size: 10rem;
    color: aqua;
}
.Game-Chainsaw_Man {
    font-size: 10rem;
    color: aqua;
}
.Game-Game_of_Throne {
    font-size: 10rem;
    color: aqua;
}
.Game-Assassins_Creed {
    font-size: 10rem;
    color: aqua;
}
.Game-Minecraft {
    font-size: 10rem;
    color: aqua;
}
.Game-Batman {
    font-size: 10rem;
    color: aqua;
}
.Game-Death_Note {
    font-size: 10rem;
    color: aqua;
}

.Game-Mario {
    font-size: 10rem;
    color: aqua;
}
.Game-The_Mandalorian {
    font-size: 10rem;
    color: aqua;
}
.Game-Toy_Story {
    font-size: 10rem;
    color: aqua;
}
.Game-Harry_Potter {
    font-size: 10rem;
    color: aqua;
}
.Game-Mortal_Kombat {
    font-size: 10rem;
    color: aqua;
}
.Game-Spider-Man {
    font-size: 10rem;
    color: aqua;
}
.Game-Dragon_Ball {
    font-size: 10rem;
    color: aqua;
}
.Game-Genshin_Impact {
    font-size: 10rem;
    color: aqua;
}
.Game-My_Hero_Academia {
    font-size: 10rem;
    color: aqua;
}
.Game-ET {
    font-size: 10rem;
    color: aqua;
}